* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
  }
  
  h1 {
    text-align: center;
  }

  .logo {
    width: 25%;
    height: 100%;
  }

.figura {
    width: 100%;
    height: 70px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
}

.fondo {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 8px;
    padding: 50px 4px;
}

  li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
  }
  
  header {
    height: 15vh;
    background-color:white;
  }
  
  main {
    height: 80vh;
  }
  
  footer {
    height: 10vh;
    background-color: darkorange;
  }
  
  figure, nav {
    display: inline-block;
  }
  
  figure {
    margin: 1rem;
  }
 
  nav {
    position: absolute;
    right: 1.5rem;
  }
  
  aside, section {
    display: inline-block;
    height: 80vh;
  }
  
  aside {
    width: 20vw;
    background-color: white;
  }
  
  aside div {
    width: 70%;
    height: 15vh;
    margin: 4vh;
  }
  
  section {
    position: absolute;
    left: 20vw;
    width: 80vw;
    padding: 1rem;
  }
  
  .footer-social, .footer-info {
    display: inline-block;
    margin: 1rem;
  }
  
  .footer-info {
    position: absolute;
    right: 1.5rem;
  }