* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
  }
  
  .logo {
    position: relative;
    left: 20%;
    width: 25%;
    height: 100%;
  }

.figura {
    width: 100%;
    height: 90px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
}

  li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
  }
  
  header {
    height: 15vh;
  }
  
  main {
    height: 80vh;
  }
  
  footer {
    height: 10vh;
    background-color: darkorange;
  }
  
  figure, nav {
    display: inline-block;
  }
  
  figure {
    margin: 1rem;
  }
 
  nav {
    position: absolute;
    top: 5%;
    right: 1.5rem;
  }
  
  aside, section {
    display: inline-block;
    height: 80vh;
  }
  
  aside {
    width: 25vw;
  }
  
  aside div {
    width: 70%;
    height: 15vh;
    margin: 4vh;
  }
  
  section {
    position: absolute;
    left: 25vw;
    width: 70%;
    max-height: 800px;
    padding: 1rem;
    background-image: url(/img/fondo.jpeg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .footer-social, .footer-info {
    display: inline-block;
    margin: 1rem;
  }
  
  .footer-info {
    position: absolute;
    right: 1.5rem;
  }